
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#account-form-container.modal.hide
	form( method="post", action="signup")#account-form.form-horizontal.well.span6
		h1
		p#sub1.subheading Please tell us a little about yourself.
		hr
		fieldset			
			#email-cg.control-group
				label.control-label(for='email-tf') Email
				.controls
					input#email-tf.input-xlarge(type='text', name='email', value= user.email)
			#pass-cg.control-group
				label.control-label(for='pass-tf') Password
				.controls
					input#pass-tf.input-xlarge(type='password', name='pass', value='')		
			.control-group	
				label.control-label I am :
				.controls
					.btn-group.margin-b20(data-toggle='buttons-radio')
						a.btn.btn-large(onclick='jQuery(\'#role_business\').attr(\'checked\', \'checked\')', type='button')
							label.radio
								input#role_business(type='radio', name='role', value='Employer')
								p Business
						a.btn.btn-large(onclick='jQuery(\'#role_promoter\').attr(\'checked\', \'checked\')', type='button')
							label.radio
								input#role_promoter(type='radio', name='role', value='Worker')
								p Promoter
						a.btn.btn-large(onclick='jQuery(\'#role_both\').attr(\'checked\', \'checked\')', type='button')
							label.radio
								input#role_both(type='radio', name='role', value='Both', checked='checked')
								p Both
					
			.form-actions.div.btm-links
				a(href='#')#account-form-btn1
				button(type='submit')#account-form-btn2.btn

// display form errors in a custom modal window //

include modals/form-errors

