<% include header.html %>

<div class="container dashboard">
	<div class="row">
		<div class="col-xs-12 col-sm-2">
			<%{ var imgUrl = 'https://s3-us-west-2.amazonaws.com/boostaa/icons/test_avatar.png'
			if(userdetail.profile){
				imgUrl = userdetail.profile.avatar;
			}%>
			<img src="<%=imgUrl%>" alt="avator"
				style="width: 200px; height: 200px;">
				<%}%>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="profile-overview">
				<blockquote>
					<p><%=userdetail.profile ? userdetail.profile.name : 'YOUR NAME'%></p>
				</blockquote>
				<p><%=userdetail.profile ? userdetail.profile.description : 'YOUR INTRODUCTION'%></p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-3">
			<div class="profile-overview">
				<p class="lead">Tags:</p>
				<%=userdetail.profile ? userdetail.profile.tags : 'undefined'%>
			</div>
		</div>
	</div>


<% if(userdetail.tasks && userdetail.tasks.length > 0) { %>
<div class="row blue-spacer">
	<h4>Coolest Promo</h4>
	<% if(userdetail.tasks.length <= 4 ){ %>
	<!--  we can simply display them as is -->
	<div class="row-fluid">
		<%for(var i = 0; i < userdetail.tasks.length; i++) { %>
		<div class="col-sm-3">
			<a href="#x" class="thumbnail"><img
				src="http://placehold.it/250x250" alt="Image"
				style="max-width: 100%;" /></a>
		</div>
		<%}%>
	</div>
	<%} else { var slides = Math.ceil(userdetail.tasks.length / 4) %>
	<!-- cool project carousel -->
	<div id="cool-project-carousel" class="carousel slide">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<%for(var i = 0; i < slides; i++) {%>
			<li data-target="#cool-project-carousel" data-slide-to="<%=i%>"
				class="<%=(i==0?'active':'')%>"></li> <%}%>
		</ol>
		<div class="carousel-inner">
			<%for(var i = 0; i < slides; i++) { 
			var divClass = i == 0 ? 'item active' : 'item';%>
			<div class="<%=divClass%>">
				<div class="row-fluid">
					<%for(var j = i*4;j < (i+1) * 4 && j < userdetail.tasks.length;
					j++) { var task =userdetail.tasks[j]; 
					var imgUrl = task.photos && task.photos.length >0 ? task.photos[0].url : '' %>
					<div class="col-sm-3">
						<a href="#x" class="thumbnail"><img src="<%=imgUrl%>"
							alt="Image" style="max-width: 100%;" /></a>
					</div>
					<%}%>

				</div>
				<!--/row-fluid-->
			</div>
			<%}%>
		</div>
		<!-- Controls -->
		<a class="left carousel-control" href="#cool-project-carousel"
			data-slide="prev"> <span class="icon-prev"></span>
		</a> <a class="right carousel-control" href="#cool-project-carousel"
			data-slide="next"> <span class="icon-next"></span>
		</a>

	</div>

	<%}%>
</div>

<%}%> 



<% if(userdetail.tasks && userdetail.tasks.length > 0) { %>
<div class="row">
	<h4>History</h4>
	<% if(userdetail.tasks.length <= 4 ){ %>
	<!--  we can simply display them as is -->
	<div class="row-fluid">
		<%for(var i = 0; i < userdetail.tasks.length; i++) { %>
		<div class="col-sm-3">
			<a href="#x" class="thumbnail"><img
				src="http://placehold.it/250x250" alt="Image"
				style="max-width: 100%;" /></a>
		</div>
		<%}%>
	</div>
	<%} else { var slides = Math.ceil(userdetail.tasks.length / 4) %>
	<!-- cool project carousel -->
	<div id="history-carousel" class="carousel slide">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<%for(var i = 0; i < slides; i++) {%>
			<li data-target="#cool-project-carousel" data-slide-to="<%=i%>"
				class="<%=(i==0?'active':'')%>"></li> <%}%>
		</ol>
		<div class="carousel-inner">
			<%for(var i = 0; i < slides; i++) { 
			var divClass = i == 0 ? 'item active' : 'item';%>
			<div class="<%=divClass%>">
				<div class="row-fluid">
					<%for(var j = i*4;j < (i+1) * 4 && j < userdetail.tasks.length;
					j++) { var task =userdetail.tasks[j]; 
					var imgUrl = task.photos && task.photos.length >0 ? task.photos[0].url : '' %>
					<div class="col-sm-3">
						<a href="#x" class="thumbnail"><img src="<%=imgUrl%>"
							alt="Image" style="max-width: 100%;" /></a>
					</div>
					<%}%>

				</div>
				<!--/row-fluid-->
			</div>
			<%}%>
		</div>
		<!-- Controls -->
		<a class="left carousel-control" href="#history-carousel"
			data-slide="prev"> <span class="icon-prev"></span>
		</a> <a class="right carousel-control" href="#history-carousel"
			data-slide="next"> <span class="icon-next"></span>
		</a>

	</div>

	<%}%>
</div>

<%}%> 
 <div class="row blue-spacer ">
 	<div class="row-fluid">
<div class="input-group btn-group col-sm-7 bip-list">
    <table id="list"></table>
    <div id="pager"></div>
</div>
<div class="col-sm-5 bip-list">
<div class="btn-group btn-group-vertical"style="position:absolute;bottom:0px;">
  <button type="button" class="btn btn-default orange btn-common bottom-spacer">Messges</button>
  <button type="button" class="btn btn-default blue btn-common">Order Now</button>

</div>

</div>



</div>
</div>


<% include footer.html %>

  <script type="text/javascript">
    //<![CDATA[
        $(document).ready(function () {
            var lastSel,
                grid=$("#list"),
                myAddOptions = {                   
            		url: "bip/create",
                },
                myDelOptions = {
            	url:'/bip/delete',
            	 serializeDelData: function(postdata) {
            	        return postdata;
            	    }
                };

            grid.jqGrid({
                datatype: 'local',
                data:  <%-JSON.stringify(userdetail.bips)%>,
                colNames: ['BipId','Description',  'Price', 'Action'],
				editurl: '/bip/edit',
                colModel:[
{ name: 'id', index: 'id',  key:true ,editable: false, hidden: true},
                          {name: 'description', index: 'description', editable: true, width:300, editrules: {required: true}},
      					{name: 'price', index: 'price', width: 70, formatter: 'number', editable: true, align: 'right'},
                    {name:'act',index:'act',width:55,align:'center',sortable:false,formatter:'actions',
                     formatoptions:{
                         keys: true, // we want use [Enter] key to save the row and [Esc] to cancel editing.
                       
                         onSuccess:function(jqXHR) {
                             // the function will be used as "succesfunc" parameter of editRow function
                             // (see http://www.trirand.com/jqgridwiki/doku.php?id=wiki:inline_editing#editrow)
                             /*alert("in onSuccess used only for remote editing:"+
                                   "\nresponseText="+jqXHR.responseText+
                                   "\n\nWe can verify the server response and return false in case of"+
                                   " error response. return true confirm that the response is successful");*/
                             // we can verify the server response and interpret it do as an error
                             // in the case we should return false. In the case onError will be called
                             return true;
                         },
                         onError:function(rowid, jqXHR, textStatus) {
                             // the function will be used as "errorfunc" parameter of editRow function
                             // (see http://www.trirand.com/jqgridwiki/doku.php?id=wiki:inline_editing#editrow)
                             // and saveRow function
                             // (see http://www.trirand.com/jqgridwiki/doku.php?id=wiki:inline_editing#saverow)
                             /*alert("in onError used only for remote editing:"+
                                   "\nresponseText="+jqXHR.responseText+
                                   "\nstatus="+jqXHR.status+
                                   "\nstatusText"+jqXHR.statusText+
                                   "\n\nWe don't need return anything");*/
                         },
                         afterSave:function(rowid) {
                        	//alert("in afterSave (Submit): rowid="+rowid+"\nWe don't need return anything");
                         },
                         afterRestore:function(rowid) {
                             //alert("in afterRestore (Cancel): rowid="+rowid+"\nWe don't need return anything");
                         },
                         delOptions: myDelOptions
                     }},
              
                ],
                rowNum:10,
                rowList:[5,10,20],
                pager: '#pager',
                gridview:true,
                rownumbers:false,
                overlay: false,
                ignoreCase:true,
                sortname: 'invdate',
                viewrecords: false,
                pgbuttons: false,     // disable page control like next, back button
                pgtext: null,         // disable pager text like 'Page 0 of 10'
                serializeRowData: function (postData) {
                    if (postData != null && postData.oper) {
                    	if(postData.oper == 'add')
                    		{delete postData.id}
                    	delete postData.oper;
                    }
                    
                    return postData;
                },
                afterInsertRow:  function (rowId, rowData, rowElement) {
                    // alert('afterInsertRow');
                },
                sortorder: "desc",
                caption:"",
                height: "100%",
                onSelectRow: function(id) {
                    if (id && id !== lastSel) {
                        // cancel editing of the previous selected row if it was in editing state.
                        // jqGrid hold intern savedRow array inside of jqGrid object,
                        // so it is safe to call restoreRow method with any id parameter
                        // if jqGrid not in editing state
                        if (typeof lastSel !== "undefined") {
                            grid.jqGrid('restoreRow',lastSel);
                        }
                        lastSel = id;
                    }
                }
            }).jqGrid('navGrid','#pager',{
            	add:false,
            	edit:false,
            	refresh:false,
            	save:false
            	},
            	{},
            	{},
            	myDelOptions,{multipleSearch:true,overlay:false});
            $("#list").jqGrid("inlineNav", "#pager", {addParams: {position: "last",   addRowParams: myAddOptions}});
        });
    //]]>
    </script>

 

<script type="text/javascript">

  $(document).ready(function() {
    $('.multiselect').multiselect({
      buttonClass: 'btn btn-default',
      buttonWidth: 'auto',
      buttonContainer: '<div class="btn-group" />',
      maxHeight: false,
      buttonText: function(options) {
        if (options.length == 0) {
          return 'None selected';
        }
        else if (options.length > 3) {
          return options.length + ' selected ';
        }
        else {
          var selected = '';
          options.each(function() {
            selected += $(this).text() + ', ';
          });
          return selected.substr(0, selected.length -2) + ' ';
        }
      }
    });
  });
</script>
