<!DOCTYPE html>
<html>
  <head>
    <title>Boostaa - Where brands meet stars</title>
    <link rel="stylesheet" href="/css/less/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

  <nav class="navbar navbar-default">
	  <div class="collapse navbar-collapse navbar-ex1-collapse">
	     <ul class="nav navbar-nav" >
	       <li class="active">
	         <a href="/">Message</a>
	       </li>
	       <li>
	         <a href="/gig">Start a contest</a>
	       </li>
	       <li>
	         <a href="/">Pricing</a>
	       </li>
	       <li>
	         <a href="/">History</a>
	       </li>
	       <li>
	         <a href="/">Help</a>
	       </li>
	     </ul>
	  </div>
</nav>