<!DOCTYPE html>
<html>
  <head>
    <title>Boostaa - Where brands meet stars</title>
    <link rel="stylesheet" href="/css/less/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
      <!-- Docs master nav -->
  <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav lightblue-background" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand">Boostaa</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">Message</a>
        </li>
        <li>
          <a href="/">Start a contest</a>
        </li>
        <li>
          <a href="/">Pricing</a>
        </li>
        <li>
          <a href="/">History</a>
        </li>
        <li>
          <a href="/">Help</a>
        </li>
      </ul>
    </nav>
  </div>
  </header>