<% include header.html %>

<div class="container">

	<div id="slide" class="carousel slide">
		<div class="carousel-inner">
		    <div class="item active">
				<% 
				var size = (gigs.length / 4) * 4 - 1;
				for(var i = 0; i < 4 ; i++){ %>
				  <% if(i % 4 == 0){ %>
				  	<div class="row">
				  <% } %>
				  <div class="col-md-4">
				    <div class="thumbnail" style="height:200px;">
				    <% if(gigs[i].photos && gigs[i].photos.length > 0){ %>
				      <img src="<%= gigs[i].photos[0].url%>" alt="..." style="height:150px;">
				    <% } else { %>
				      <img src="/img/noimg.jpg" alt="...">
				    <% } %>
				      <div class="caption">
				        <p><%= gigs[i].description %></p>
				      </div>
				    </div>
				  </div>
				  <% if((i + 1) % 4 == 0){ %>
					</div>
				  <% } %>
				<% } %>
			</div>
			
			<div class="item">
			</div>
			
			<div class="item">
			</div>
		</div>
		
		<div class="spacer"></div>
		
		<!-- Indicators -->
		<div class="row">
			<ol class="carousel-indicators">
			  <li data-target="#slide" data-slide-to="0" class="active"></li>
			  <li data-target="#slide" data-slide-to="1"></li>
			  <li data-target="#slide" data-slide-to="2"></li>
			</ol>
		</div>
	</div>
	
	<div class="spacer"></div>
	<div class="spacer"></div>

	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-10 col-md-offset-2"><h4 class="lightblue">Recommended Business</h4></div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-2">Search:<input type="text"/></div>
			</div>
			<div class="spacer"></div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<div class="thumbnail">
						<img src="/img/noimg.jpg" alt="...">
					</div>
				</div>
				<div class="col-md-6">Pocumaru Iphone Case</div>
				<div class="col-md-3">Free Product</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-10 col-md-offset-2"><h4 style="color:#FF9933">Recommended Influencer</h4></div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-2">Search:<input type="text"/></div>
			</div>
			<div class="spacer"></div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<div class="thumbnail">
						<img src="/img/noimg.jpg" alt="...">
					</div>
				</div>
				<div class="col-md-4">Rossie Thomas</div>
				<div class="col-md-5">"Love Pink!"</div>
			</div>
		</div>
	</div>
</div>

<% include footer.html %>

