<% include header.html %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<div class="row">
  <div class="col-md-1">md-1</div>
  <div class="col-md-1">md-2</div>
  <div class="col-md-1">md-3</div>
  <div class="col-md-1">md-4</div>
  <div class="col-md-1">md-5</div>
  <div class="col-md-1">md-6</div>
  <div class="col-md-1">md-7</div>
  <div class="col-md-1">md-8</div>
  <div class="col-md-1">md-9</div>
  <div class="col-md-1">md-10</div>
  <div class="col-md-1">md-11</div>
  <div class="col-md-1">md-12</div>
  <div class="col-md-1">md-13</div>
  <div class="col-md-1">md-14</div>
  <div class="col-md-1">md-15</div>
</div>

<div class="container">
	<div class="row">
	  <div class="col-md-3">
	    <div class="thumbnail">
	      <img src="/img/1.jpg" alt="...">
	      <div class="caption">
	        <h3>Thumbnail label</h3>
	        <p>...</p>
	      </div>
	    </div>
	  </div>
	  <div class="col-md-3">
	    <div class="thumbnail">
	      <img src="/img/2.jpg" alt="...">
	      <div class="caption">
	        <h3>Thumbnail label</h3>
	        <p>...</p>
	      </div>
	    </div>
	  </div>
	  <div class="col-md-3">
	    <div class="thumbnail">
	      <img src="/img/3.jpg" alt="...">
	      <div class="caption">
	        <h3>Thumbnail label</h3>
	        <p>...</p>
	      </div>
	    </div>
	  </div>
	  <div class="col-md-3">
	    <div class="thumbnail">
	      <img src="/img/4.jpg" alt="...">
	      <div class="caption">
	        <h3>Thumbnail label</h3>
	        <p>...</p>
	      </div>
	    </div>
	  </div>
	  <div class="col-md-3">
	    <div class="thumbnail">
	      <img src="/img/5.jpg" alt="...">
	      <div class="caption">
	        <h3>Thumbnail label</h3>
	        <p>...</p>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<% include footer.html %>