<% include header.html %>

<script type="text/javascript">
function chooseFile(photoUpload){
	$(photoUpload).click();	
}

function changePhoto(input, photoPreview){
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $(photoPreview).attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        
        // uploadPhoto(input.files[0]);
    } else {
    	 $(photoPreview).attr('src', "/img/noimg.jpg");
    }
}
    
function uploadPhoto(photo){

	var data = new FormData();
	data.append('photos', photo);
	
	$.ajax({
		url: "http://boostaa.elasticbeanstalk.com/api/picture",
		data: data,
	    cache: false,
	    contentType: false,
	    processData: false,
		type: "POST",
	    success: function(response){
	    	$(photoPreview).attr('src', response);
	    	// alert("Published.");
		},
		error: function(response) {
			alert(response.responseText);
		}
	});
}

</script>
 
<div class="container">
   	<form class="form-horizontal" method="post" action="/project" enctype="multipart/form-data">
	    <legend>New Contest</legend>
	    <div class="form-group">
	      <label class="col-md-2 control-label" for="title">Title</label>
	      <div class="col-md-8">
	      	<input name="title" type="text" class="form-control">
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="col-md-2 control-label">Description</label>
	      <div class="col-md-8">
	      	<textarea name="description" class="form-control" rows="3" placeholder="Discribe your project!"></textarea>
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="col-md-2 control-label">Photos</label>
	      <div class="col-md-10 row">
	      	<div class="col-md-2">
				<div class="fileupload-new thumbnail">
				  	<img id="photoPreview1" src="/img/noimg.jpg" onclick="javascript:chooseFile('#photoUpload1');"/>
				  	<input type="file" name="photos" id="photoUpload1" style="display:none;" onchange="javascript:changePhoto(this, '#photoPreview1');"/>
		        </div>
	        </div>
	        <div class="col-md-2">
				<div class="fileupload-new thumbnail" >
				  	<img id="photoPreview2" src="/img/noimg.jpg" onclick="javascript:chooseFile('#photoUpload2');"/>
				  	<input type="file" name="photos" id="photoUpload2" style="display:none;" onchange="javascript:changePhoto(this, '#photoPreview2');"/>
		        </div>
	        </div>
	        <div class="col-md-2">
				<div class="fileupload-new thumbnail">
				  	<img id="photoPreview3" src="/img/noimg.jpg" onclick="javascript:chooseFile('#photoUpload3');"/>
				  	<input type="file" name="photos" id="photoUpload3" style="display:none;" onchange="javascript:changePhoto(this, '#photoPreview3');"/>
		        </div>
	        </div>
	        <div class="col-md-2">
				<div class="fileupload-new thumbnail">
				  	<img id="photoPreview4" src="/img/noimg.jpg" onclick="javascript:chooseFile('#photoUpload4');"/>
				  	<input type="file" name="photos" id="photoUpload4" style="display:none;" onchange="javascript:changePhoto(this, '#photoPreview4');"/>
		        </div>
	        </div>
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="col-md-2 control-label">Choose Your Tags</label>
	      <div class="col-md-8">
	      	<input name="tags" type="text" class="form-control" placeholder="split by ','">
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="col-md-2 control-label">Promotes</label>
	      <div class="col-md-2">
	      	<select name="bidNum" class="form-control">
			    <option value="1">1</option>
			    <option value="2">2</option>
			    <option value="3">3</option>
			 </select>
	      </div>
	      <label class="col-md-2 control-label">Durations</label>
	      <div class="col-md-2">
	      	<select name="bidDays" class="form-control">
			    <option value="1">1</option>
			    <option value="2">2</option>
			    <option value="3">3</option>
			    <option value="4">4</option>
			    <option value="5">5</option>
			    <option value="6">6</option>
			 </select>
	      </div>
	      <div class="col-md-1">
			 Days
		  </div>
	    </div>
	    <div class="form-group">
	      <label class="col-md-2 control-label">Paid</label>
	      <div class="col-md-5">
	      	<div class="radio">
	      		<label><input type="radio" name="isPayCash" value="1" checked> Money&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$&nbsp;&nbsp;<input name="cashAmount" type="text"></label>
	      	</div>
	      	<div class="radio">
	      		<label><input type="radio" name="isPayCash" value="0"> Product </label>
	      	</div>
	      </div>
	    </div>
	    <div class="col-md-offset-2">
            <button type="submit" class="btn btn-primary">Post</button>
        </div>
	</form>
</div>

<% include footer.html %>