
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<script type="text/javascript">
	var NREUMQ = NREUMQ || [];
	NREUMQ.push([ "mark", "firstbyte", new Date().getTime() ]);
</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<title>Boostaa - Sign In</title>
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/darktheme.css">
</head>
<body>


	<div id="main-container">
		<div id="main">
			<h1>
				<a href="/"><img alt="Boostaa"
					src="https://boostaa.s3.amazonaws.com/icons/boostaa_trans_270.png" /></a>
			</h1>

			<h2>Sign up</h2>

			<div class="social_logins">
				<a href="/auth/twitter/" class="g-button twitter-button"
					ontouchstart="" tabindex="-1"><div class="twitter login_button">Sign
						up with Twitter</div></a> <a href="/auth/facebook/"
					class="g-button facebook-button" ontouchstart="" tabindex="-1"><div
						class="facebook login_button">Sign up with Facebook</div></a>
			</div>
			<div class="cb"></div>
			<div class="social_login_text">
				Sign up with a social network to follow your friends and see the
				startups they're working on. <a href="/registration">Sign up
					without a social network</a>.
			</div>
			<div class="center join_section">
				Already have an account? <a href="/login">Log in</a>
			</div>

		</div>
	</div>
</html>

