body {
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.spacer {
  margin-top: 40px;
}
.header {
  color: #000;
  padding-top: 10px;
  height: 30px;
  text-align: center;
  background-color: #57BAC9;
  margin-bottom: 10px;
}
.footer {
  height: 20px;
  background-color: #57BAC9;
  margin-top: 10px;
}
