body {
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 70px;
  padding-bottom: 30px;
}
a {
  color: #00B7FF;
}
.spacer {
  height: 30px;
}
#login-container {
  width: 340px;
  margin: 160px auto;
}
.well {
  margin-left: 0;
  border: 1px solid #ccc;
}
.subheading {
  color: #808080;
  text-shadow: -1px 1px 0 #ffffff;
  -moz-text-shadow: -1px 1px 0 #ffffff;
  -webkit-text-shadow: -1px 1px 0 #ffffff;
  margin-top: 3px;
}
#login-container label {
  margin: 15px 0 5px 5px;
}
h1 {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}
.footer {
  height: 20px;
  background-color: #57BAC9;
  margin-top: 10px;
}
.navbar-inner,
.container-fluid {
  background-color: #57bac9;
  color: #fff;
}
.navbar .nav.pull-right {
  margin-right: 100px;
}
li#t-signup > a {
  font-weight: bold;
  color: #fff;
}
.label {
  font-size: 12pt;
}
.chooseyourtag {
  padding: 15px 15px 15px;
}
