extends layout

block content
	form
		fieldset
			legend Edit profile
			label First name
			input(type="text", placeholder="First name")
			label Last name
			input(type="text", placeholder="Last name")
			label Interest
			input(type="text", placeholder="Interest")
			label Introduction
			input(type="text", placeholder="Write something about yourself")
			label Photo
			img(src="...",class="img-polaroid")
			button(type="submit", class="btn") Submit